.addOrRemove{
    border: 1px solid rgba($WHITE, .6);
    background-color: transparent;
    border-radius: .875rem;
    padding: $PXS $PS;
    color: $WHITE;
    font-weight: 100;

    &:active{
        transform: translateY(1px);
    }

    &:hover{
        border-color: $WHITE;
        transform: scale(1);
    }
}