.headerInPlaylist{
    background: $playlistMainColor;
    background-image: $grayLinear;
    transition: .5s background ease-in-out;
    
    .subActions{
        display: flex;
        align-items: center;
        gap: 2rem;
        min-height: 2rem;
        
        a{
            &:hover{
                text-decoration: underline;
            }  
        }
        
        .playlistActionMenu{
            z-index: 2;  
        }
    }
}