.playlist__headerInPlaylist{
    background: $playlistMainColor;
    background-image: $grayLinear;
    transition: .5s background ease-in-out;
    position: relative;

        &__action{
            margin-bottom: $MXS;
            display: flex;
            align-items: center;
            gap: 2rem;

            a{

                &:hover{
                    text-decoration: underline;
                }  
            }
            
            .playlistAction-btn{
                height: 2rem;

                &:hover{
                    color: $WHITE;
                }
            }

            .playlistActionMenu{
                position: absolute;
                bottom: -4.62rem;
                z-index: 2; 
                
                button{
                    padding: $PS;
                    color: $WHITE;
                } 
            }
        }
}