.comment{
    border-bottom: 1px solid rgba($WHITE, .3);
    padding: $PXS;
    display: flex;
    gap: 1.5rem;
    align-items: center;

    &__text{
        flex: 1;

        &__title{
            display: flex;
            align-items: center;
            gap: .5rem;
            color: $WHITE;
            margin-bottom: $PXS;

            span{
                color: rgba($WHITE, .7);
                font-size: .875rem;
            }

            .navBtn{
                font-size: .875rem;

                &:hover{
                    color: $GREEN;
                }
            }
        }

        &__content{
            word-break: break-all;
            max-width: 18rem;
        }
    }
}