
.songCover{
    background-color: $NEUTRAL-900;
    box-shadow: $cover;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    
    img{
        width: 100%;
        height: 100%;
    }

    .openBtn{
        opacity: 0;
    }

    &:hover .openBtn{
        opacity: 1;
    }
}

.small{
    width: 3.5rem;
    height: 3.5rem;
}

.full{
    position: absolute;
    bottom: -.250rem;
    left: 0;
    right: 0;
    transform: translateY(0);
    animation: openCover .3s ease-in-out;
}

@keyframes openCover {
    0%{
        transform: translateY(5rem);
    }
    100%{
        transform: translateY(0);
    }
}