.searchHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $PM 0;
    border-top: 1px solid rgba($WHITE, .1);
}

.hideHeader{
    align-items: inherit;
    border-top: 0;

    button{
        align-items: unset;
    }
}