.playlist__main{
    flex: 1;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    &__content{
        padding: $PM $PL;
        height: 100%;
        overflow: overlay;

        &::-webkit-scrollbar{
            width: 15px;
            
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
            
        &::-webkit-scrollbar-thumb {
            background-color: rgba($WHITE, .3);
    
            &:hover{
                background-color: rgba($WHITE, .5);
            }
        }
    }
    
    &__background{
        position: absolute;
        top: 0;
        width: 100%;
        height: 40vh;
        background-image: $darkLinear;
        background-color: $playlistMainColor;
        z-index: -1;
        transition: .5s background-color ease-in-out;
    }
}
