.header{
    padding: $PS;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    
    .mobileInfo{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
        .title, .subtitle, .listLength{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .subtitle, .listLength{
            font-size: .825rem;
            color: rgba($WHITE, .7);
        }
    }
    
    @media only screen and (max-width: $md){
        .actionBtns{
            padding-bottom: 0;
        }
    }
}