//COLOR
$WHITE: #fff;
$earlGray: #3333;
$BLACK: #000;
$GRAY: #181818;
$darkGray: #282828;
$GREEN: #1DE760;
$secondaryColor: #121212; 
$purple: rgb(119, 46, 230);
$playlistMainColor: #838383;
$brokeWhite: #eee;
$brokeGray: #b3b3b3; 

//TEXT COLOR
$textGray: #a7a7a7;
$favoritesGradient: linear-gradient( 83.2deg,  rgba(150,93,233,.7) 10.8%, rgba(99,88,238,.5) 94.3% );


//LINEAR GRADIENT
$darkLinear: linear-gradient(rgba(0,0,0,.6) 0,rgba(18,18,18,1) 100%);
$grayLinear: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
$unauthBar: linear-gradient(90deg,#af2896,#509bf5);
$mobileNavbar: linear-gradient(transparent,rgba(0,0,0,.6),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.8),rgba(0,0,0,.9),rgba(0,0,0,.9),rgba(0,0,0,.9),#000,#000);

//PADDING
$PXS: .5rem;
$PS: 1rem;
$PM: 1.5rem;
$PL: 2.25rem;
$PXL: 3rem;
$PXXL: 3.5rem;

//MARGIN
$MXS: .5rem;
$MS: 1rem;
$MM: 1.5rem;
$ML: 2.25rem;
$MXXL: 4rem;

//MEDIA BREAKPOINTS
$sm: 640px;
$md: 1024px;
$xl: 1280px;
$xxl: 1536px;

//BOX SHADOW
$cover: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$textShadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;