//COLOR
$WHITE: #fff;
$earlGray: #3333;
$BLACK: #000;
$GRAY: #181818;
$darkGray: #282828;
$GREEN: #1DE760;
$secondaryColor: #121212; 

//TEXT COLOR
$textGray: #a7a7a7;

//DARK THEME COLOR


//PADDING
$PXS: .5rem;
$PS: 1rem;
$PM: 1.5rem;
$PL: 2.25rem;

//MARGIN
$MXS: .5rem;
$MS: 1rem;
$MM: 1.5rem;
$ML: 2.25rem;
$MXXL: 4rem;

//FONT SIZE

//BOX SHADOW
$cover: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;