.cardListContainer{

    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}