.viewLayoutHeader{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $PS $PL;
    position: sticky;
    top: 0;
    z-index: 1;
    
    button{
        color: $WHITE;
    }
}