.viewLayoutHeader{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    
    button{
        color: $WHITE;
    }
}