.mobilePlayer{      
    padding: $PXS $PXS $P-0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.5rem;
    color: $PRIMARY;
    position: relative;
    
    &::before{//added for not affect other elements except bgColor 
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--bg, $GRAY-900);
        filter: brightness(45%);
        transition: 300ms background-color ease-in-out;
        z-index: $MOBILE-PLAYER;
    }

    .expandBtn{
        content: '';
        position: absolute;
        inset: 0;
    }
}