.menu{
    position: fixed;
    inset: 0;
    background-color: rgba($BLACK, .7);
    backdrop-filter: blur(10px);
    z-index: 11;
    padding: $PXL;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: scroll;
    overflow-x: hidden;

    .list{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li{
            font-size: 1.5rem;
        }
    }

    .close{
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        align-self: center;
    }
}