.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: $PL;

    @media only screen and (max-width: $md) {
        background-color: $secondaryColor;
        justify-content: space-around;
        padding-right: 0;
        padding: $PS;
        border-top: 1px solid $earlGray;

        span{
            display: none;
        }
    }

    a{
        flex-direction: column;
        gap: .250rem;

        &:hover{
            color: $WHITE;
        }
    }

    .active{
        color: $WHITE;
    }
}