.header{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $PS $PL;
    position: sticky;
    top: 0;
    z-index: $VIEW-HEADER;
    background-color: $SECONDARY;

    @media only screen and (max-width: $md){
        padding: $PS;
    }
}