    ::-webkit-scrollbar{
        width: 1rem;
    
        @media only screen and (max-width: $md){
            width: .125rem;
        }
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
        
    ::-webkit-scrollbar-thumb {
        background-color: $PRIMARY-300;
    
        &:hover{
            background-color: $PRIMARY-500;
        }
    }



