.scrollWrapper{
    scrollbar-width: 1rem; /* For Firefox */scrollbar-color: $PRIMARY-300 transparent;

    @media only screen and (max-width: $md){
        scrollbar-width: .125rem;
    }

    &:hover{
        background-color: $PRIMARY-500;
    }

    &::-webkit-scrollbar{
        width: 1rem;
    
        @media only screen and (max-width: $md){
            width: .125rem;
        }
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
        
    &::-webkit-scrollbar-thumb {
        background-color: $PRIMARY-300;
    
        &:hover{
            background-color: $PRIMARY-500;
        }
    }
}


