.followBtns{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-inline: $PXS;

    @media only screen and (max-width: $md){
        display: grid;
        grid-template-columns: 1fr 1fr;

        .followBtn{
            grid-column: 1/3;
        }
    }
}
