.album{
    display: flex;
    flex-direction: column;
    height: 100%;

    .singer{
        display: flex;
        align-items: center;
        gap: .5rem;
        
        span{
            color: rgba($WHITE, .7);
        }
    }

    .content{
        position: relative;
        z-index: 1;
    }
}