.header{
    //height: 30vh;
    min-height: 21.25rem;
    padding: $P-0 $PL $PM $PL;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: -$MXXL;
    background: $NEUTRAL-500;
    background-image: $GRAY-GRADIENT;

    @media only screen and (max-width: $md){
        min-height: unset;
        flex-direction: column;
        padding: $PL;
        align-items: center;
        margin-top: $M-0;
    }

    .navigateBtn{
        position: fixed;
        filter: brightness(90%);
        top: 0;
        left: 0;
        right: 0;
        height: 3.5rem;
        padding: $PS;
        background-color: var(--bg, transparent);
        z-index: $PLAYLIST-NAVBTN;
        transition: 400ms background-color ease-in-out;
    }
    
    .cover{
        position: relative;
        box-shadow: $COVER-SHADOW;
        width: clamp(9.75rem, 40vw, 14.5rem);
        aspect-ratio: 1;// height value set according to width
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: default;

        img{
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .pencil{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            inset: 0;
            background-color: $SECONDARY-500;
            opacity: 0;

            .pencilIcon{
                position: absolute;
                top: 50%; 
                right: 50%;
                transform: translate(50%,-50%);
            }
        }

        &:hover{
            span{
                opacity: 1;
            }
        }
    }

    .profileCover{
        border-radius: 50%;

        img, .pencil{
            border-radius: 50%;
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        overflow: hidden;

        @media only screen and (max-width: $md){
            align-items: center;
        }

        .title{
            padding-bottom: $PS;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;

            @media only screen and (max-width: $md){
                padding-bottom: 0;
                max-width: 18.75rem;
            }
        }
    }
}