.unauthModal{
    background-color: $purple;
    background-image: $grayLinear;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: .5s dd ease-in-out;

    .text{
        font-size: 1.25rem;

        @media only screen and (max-width: $md){
            font-size: .825rem;
        }
    }

    .btns{
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: end;
    }
}

@keyframes dd {
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}