.home{
    flex: 1;
    padding: $PM $PL;

    &__recent__songs{
        
        &__cards{
            height: 100%;
            padding: $PL 0;
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(11.875rem, 1fr));
            gap: 1.5rem;
        }
    }
}