.playlist{

    &__header{
        background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
        height: 30vh;
        min-height: 340px;
        position: absolute;
        padding: 0 $PL $PM $PL;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        gap: 1.5rem;
        align-items: flex-end;
        

        &__cover{
            background-color: $darkGray;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            width: 14.5rem;
            height: 14.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &__action{
                display: none;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            &:hover{
                span{
                    display: flex;
                    position: absolute;
                    inset: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                    //todo will be arranged according to image
                    font-weight: 600;
                    
                }
            }
            
        }

        &__info{
            display: flex;
            flex-direction: column;
            
            gap: .5rem;

            h1{
                padding-bottom: $PS;
            }

            &__userName{
                position: relative;
                margin-bottom: $MXS;
                display: flex;
                align-items: center;
                gap: 50px;

                a{

                  &:hover{
                    text-decoration: underline;
                  }  
                }
                
                .playlistAction-btn{
                    height: 2rem;

                    &:hover{
                        color: $WHITE;
                    }
                }

                .playlistActionMenu{
                    top: 2.62rem;
                    
                    button{
                        padding: $PS;
                        color: $WHITE;

                        &:hover{
                            background-color: rgba($WHITE, .1);
                        }
                    }
                    
                }
            }
        }
    }
    
}