.playlists{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__empty{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//todo playlist page will be edited and find a linear gradient for favorites page 