.favoriteTracks{
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header{
        background-color: $purple;
        background-image: $grayLinear;
        
        &__cover{
            background-color: rgba($WHITE, .10);
        }
    }
    
    &__main{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &__background{
            position: absolute;
            z-index: -1;
            background-color: $purple;
            background-image: $darkLinear;
            top: 0;
            height: 50%;
            width: 100%;
        }
    }
}