.favoriteTracks{
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header{
        background-image: $favoritesGradient;
        
        &__cover{
            background-color: rgba($WHITE, .10);
        }
    }
    
    &__main{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}