.mediaInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
    
    .cover{
        width: var(--size);
        height: var(--size);
        display: flex;
        flex-shrink: 0;
    
        img{
            height: 100%;
            width: 100%;
            border-radius: .25rem;
        }
    }

    .info{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        overflow: hidden;

        .songName, .singerName{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            letter-spacing: 0;
            max-width: 100%; 
            width: max-content;
            display: inline;
            z-index: $MEDIA-INFO-SONG;
            font-weight: 500;
            user-select: none;
            font-size: clamp(.8125rem, 2.25vw, 1rem);
        }

        .singerName{
            color: $NEUTRAL-400;
        }
    }

    .favBtn{
        z-index: $MEDIA-INFO-FAV-BTN;
        padding-right: $PS;
    }
}