.favoritesCard{
    background-image: $favoritesGradient;
    grid-column: 1 / 4;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    .info{

        h3{
            padding-bottom: .5rem;
        }
    }

    .playBtn{
        display: none;
        position: absolute;
        right: 1rem;
        bottom: .9rem;
        animation: btnFade .3s ease-out;
    }

    .currentFav{
        display: block;
    }

    &:hover .notCurrentFav{
        display: block;
    }

    .href{
        position: absolute;
        content: '';
        inset: 0;
        cursor: pointer;
    }
}

@keyframes btnFade {
    0%{
        opacity: 0;
        bottom: .5rem;
    }

    100%{
        opacity: 1;
        bottom: .9rem;
    }
}