.popupLayout{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 6.25rem;
    background-color: $purple;
    padding: $PS $PL;
    border-radius: .875rem;
    z-index: 100;
    animation: a 2500ms ease-in-out;
}

@keyframes a {
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}