.button{
    cursor: pointer;
    background-color: transparent;
    color: $NEUTRAL-300;
    display: flex;
    align-items: center;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }
}

@media only screen and (max-width: $md){
    .button, a{
        -webkit-tap-highlight-color: transparent;
        user-select: none;
    }
}

.underline{

    &:hover{
        text-decoration: underline;
    }    
}