.button{
    cursor: pointer;
    background-color: transparent;
    color: $NEUTRAL-300;
    display: flex;
    align-items: center;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }
}