.button{
    cursor: pointer;
    background-color: transparent;
    color: $NEUTRAL-300;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $md){
        -webkit-tap-highlight-color: transparent;
        user-select: none;
    }

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

}

.underline{

    &:hover{
        text-decoration: underline;
    }    
}