.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $SECONDARY-500;
    color: $PRIMARY;
    z-index: $MODAL;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $md){
        z-index: $MOBILE-MODAL;

        .submitBtn{
            justify-content: center;
            width: 100%;

            &:hover{
                transform: scale(1);
            }
        }
    }
    
}