.unauthFooterBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: $unauthBar;
    height: 4.375rem;
    padding: $PS $PL;

    .text{
        color: $WHITE;
        letter-spacing: .5px;
    }
}