.followBtn{
    padding: $PXS $PS;
    border-radius: .5rem;
    background-color: $WHITE;
    color: $BLACK;
    font-weight: 700;

    &:hover{
        opacity: .9;
        transform: scale(1);
    }
}