.headerBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .commentBtn{
        gap: .125rem;
        padding: $PXS; 
        border-radius: 50%;

        &:hover{
            color: $WHITE;
        }
    }
}