.main{
    flex: 1;
    display: flex;
    gap: .5rem;
    background-color: $GRAY;
    color: $WHITE;
    width: 100%;
    height: calc(100vh - 6.25rem);

    @media only screen and (max-width: $md){
        height: 100%;
    }
}