.main{
    background-color: $GRAY;
    color: $WHITE;
    width: 100%;
    height: 100%;
    
    @media only screen and (min-width: $md){
        display: grid;
        gap: .5rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "sidebar view"
            "sidebar view"
            "footer footer";
    }
}