.favTracks{
    
    .header{
        background-color: $purple;
        background-image: $grayLinear;

        button{
            pointer-events: none;
        }
    }

    .navBtn{
        display: flex;
        align-items: center;
        gap: .5rem;

        a{
            font-weight: 700;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .favBg{
        background-color: $purple;
    }
}