.footer{
    height: 6.25rem;
    background-color: $BLACK;
    padding:  0 $PM;
    color: rgba($WHITE, .6);
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-areas: "info player tool";
    z-index: 10;
    border-top: 1px solid $darkGray;
}