.progressBar{
    display: flex;
    align-items: center;
    gap: .5rem;
    
    .duration{
        font-size: .875rem;
        max-width: 1.5rem;
        min-width: 1.5rem;
    }

    
    .range{
        width: 100%;
    }
}

.mobileProgressBar{

    .mobileDuration{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .duration{
            font-size: .6875rem;
        }
    }
}