.userInfoModal{

    .form{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1.5rem;

        @media only screen and (max-width: $md){
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .profileImg{
            position: relative;
            height: 11.25rem;

            .pencilBtn{
                position: absolute;
                inset: 0;
                border-radius: 50%;
                color: rgba($WHITE, .6);
                background-color: rgba($GRAY, .5);
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                align-items: center;
                justify-content: center;
                opacity: 0;
            }

            &:hover .pencilBtn{
                opacity: 1;
            }
        }

        .inputs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .875rem;
            
            input{
                display: flex;
                flex-direction: column;
                gap: .25rem;
            }

            .submitBtn{
                align-self: flex-end;
            }
        }
    }
}