.info{
    margin-top: $MS;
    display: flex;
    flex-direction: column;
    gap: .875rem;

    @media only screen and (max-width: $md){
        width: clamp(8.75rem, 30vw, 14.5rem);
        
        .title{
            letter-spacing: 0;
            text-align: center;
            user-select: none;
            display: block;
            font-weight: 700;
            color: $PRIMARY;
        }
    }

    .title, .subtitle{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .subtitle{
        font-size: .875rem;
        color: $textGray;
        font-weight: 400;
        padding-bottom: $PS;
        letter-spacing: 1px;
    }
}