.forgetPassword{
    margin-top: $PS;

    .form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: $PS;
        display: none;
        
        .submitBtn{
            background-color: $GREEN;
            display: block;
            width: 100%;
        }
    }

    .showForm{
        display: flex;
        animation: showForm .5s  ease-in-out;
    }
}

@keyframes showForm {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
