.categories{
    &__list{
        height: 100%;
        padding: $PL 0;

        &__card{
            border: 1px solid $earlGray;
            box-shadow: $cover;
            border-radius: .5rem;
            height: 14.5rem;

            &__title{
                padding: $PS $PM;
                letter-spacing: 1px;
            }
        }
    }
}