.profilesResult{
    background-color: $GRAY;
    padding: $PXL $PL;
    border-radius: .5rem;
    overflow: overlay;
    
    &::-webkit-scrollbar{
        width: .25rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
        
    &::-webkit-scrollbar-thumb {
        background-color: rgba($WHITE, .3);

        &:hover{
            background-color: rgba($WHITE, .5);
        }
    }


    &__list{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
        gap: 3rem;
    }

    h3{
        margin-bottom: $PM;
    }
}