.menu{
    position: fixed;
    inset: 0;
    background-color: $SECONDARY-500;
    backdrop-filter: blur(10px);
    z-index: $MOBILE-PLAYER-MENU;
    padding: $PXL;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: scroll;
    overflow-x: hidden;

    .list{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .item{
            button{
                font-size: 1.5rem;  
            }
        }
    }
}