.playlistHeader{
    background: $playlistMainColor;
    background-image: $grayLinear;
    transition: .5s background ease-in-out;
    
    .subActions{
        display: flex;
        align-items: center;
        gap: 2rem;
        min-height: 2rem;

        @media only screen and (max-width: $md){
            flex-direction: column;
            gap: .5rem;
        }
    }
}