.library{
    padding-right: $PL;

    .title{
        padding-bottom: $PM;
        color: $WHITE;
    }

    .links{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: $MS;
        border-bottom: 2px solid rgba($earlGray, .25);
        
        a{
            letter-spacing: 1px;
            gap: 1rem;
            padding: $PXS $PM;
            border-radius: 1.5rem;
            transition: 300ms background-color ease-in-out;
        }

        .favsLink{

            &:hover{
                color: $WHITE;
                background-color: rgba($purple, .15);
            }
        }

        .songsLink{

            &:hover{
                background-color: rgba($GREEN, .10);
                color: $GREEN;
            }
        }

        .activeSongsLink{
            background-color: rgba($GREEN, .10);
            color: $GREEN;
        }

        .activeFavsLink{
            color: $WHITE;
            background-color: rgba($purple, .15);
        }
    }

}