.sidebar{
    display: flex; //for resizer
    background-color: $BLACK;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    grid-area: sidebar;
    overflow: hidden;
    
    .content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: $PL;
        padding-right: 0;
        height: 100%;
        position: relative;
    }

    .resizer{

        div{
            z-index: 3;
            right: 0 !important;
            width: 0.075rem !important;

            &:hover{
                background-color: $NEUTRAL-600;
            } 
        }  
    }
}