.sidebar{
    display: flex;
    
    &__content{
        
    }

    &__resizer{

        div{
            right: 0 !important;
            width: 0.125rem !important;

            &:hover{
                background-color: $earlGray;
            } 
        }
        
    }
}