.songList{
    padding-bottom: $PL;

    @media only screen and (max-width: $md){
        padding-bottom: 0;
    }

    &__item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        span{
            justify-self: center;
            color: rgba($WHITE, .6);
        }
        
        :nth-child(3){
            justify-self: end;
        }
    }
}