.songList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: $PL;

    &__item{

        &__content{
            display: grid;
            grid-template-columns: 2.95fr 3fr 22px;

            &:hover .remove{
                opacity: 1;
            }
        }
    }
}