.listItem{
    color: $PRIMARY;
    padding: $PS;
    cursor: default;
    text-align: start;
    font-size: .875rem;
    max-width: 12rem;

    @media only screen and (min-width: $md){
        min-width: 12rem;
    }

    &:hover{
        border-radius: .250rem;
        background-color: $PRIMARY-100;
    }
}