.actionBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding-bottom: $PM;

    @media only screen and (max-width: $md){
        padding: $PS;
        padding-bottom: 0;
    }

    .mobileInfo{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
        .title, .subtitle, .songLength{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .subtitle, .songLength{
            font-size: .825rem;
            color: rgba($WHITE, .7);
        }
    }

    .playBtn{
        min-width: 3.5rem;
        width: 3.5rem;
        height: 3.5rem;
    }
}