.playlistWrapper{
    height: 100%;// for gradient bg
    overflow: overlay;

    &::-webkit-scrollbar{
        width: 1rem;

        @media only screen and (max-width: $md){
            width: 1px;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
        
    &::-webkit-scrollbar-thumb {
        background-color: rgba($WHITE, .3);

        &:hover{
            background-color: rgba($WHITE, .5);
        }
    }
}