.profile{
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header{
        background: rgba($playlistMainColor, .3);
        background-image: $grayLinear;

        .cover, span, button{
            border-radius: 50%;
        }

        &__follow{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            a{
                &:hover{
                    text-decoration: underline;
                }
            }

            .followBtn{
                padding: $PXS $PM;
                border: 1px solid rgba($WHITE, .5);
                font-size: 1rem;
                color: $WHITE;
                letter-spacing: 1px;
                border-radius: .5rem;

                &:hover{
                    background-color: rgba($WHITE, .1);
                    border-color: rgba($WHITE, .8);
                }
            }
        }

    }

    &Main{
        flex: 1;
        padding: $PM $PL;

        &__playlists{

            &__title{
                margin-bottom: $PM;
            }

            &__cards{
                display: grid;
                grid-template-columns: repeat( auto-fill, minmax(11.875rem, 1fr));
                gap: 1.5rem;
            }
        }
    }
}