.searchInput{
    flex: 1;
    margin-left: 1rem;

    @media only screen and (max-width: $md){
        margin-left: $M-0;
        margin-block: $PS;
    }
    
    label{
        background-color: $PRIMARY;
        color: $NEUTRAL-500;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        width: 22.875rem;
        padding: $PXS $PXL $PXS $PS;
        position: relative;
        cursor: text;

        @media only screen and (max-width: $md){
            width: 100%;
            border-radius: .5rem;
            padding: $PXS;
        }

        input{
            height: 100%;
            width: 100%;
            font-size: .875rem;
            letter-spacing: .5px;
            color: $SECONDARY;
            padding: $P-0;

            &:focus{
                border-color: transparent;
            }
        }
    }

    .closeBtn{
        position: absolute;
        top: .5rem;
        right: .875rem;
    }

    .error{
        position: absolute;
        letter-spacing: 1px;
        bottom: -2rem;
        left: 1.5rem;
        color: red;
    }
}