.navigationButton{
    display: flex;
    align-items: center;
    gap: 0.625rem;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $PRIMARY;
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgba($BLACK, .7);
        border-radius: 50%;
    }

    .disabled{
        opacity: .5;
        cursor: no-drop;
    }
}