.main{
    flex: 1;
    position: relative;
    z-index: $GRADIENT-BG-PLUS;
    overflow: hidden;

    @media only screen and (max-width: $md){
        overflow: unset;
    }
    
    .trackList{
        position: static;
        height: 100%;
        overflow: overlay;
        overflow: auto;
        
        @media only screen and (max-width: $md){
            overflow: unset;
        }
    }
}
