.playlistSearchSongs{
    bottom: 6rem; //this value is assigned for animation 
    z-index: 100;
    background-color: transparent;
}

.hide{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -4.6rem;
    padding: 0 $PL;
    border-top-right-radius: 4.688rem;
    border-top-left-radius: 4.688rem;
    border-top: 1px solid rgba($WHITE, .15);
    transition: .3s bottom ease-in-out;
    background-color: $secondaryColor;
}

.c{
    //this class created for when list data in songlist class
    transform: translateY(90%);
    bottom: -1rem;
    //todo will be checked
}