.popup{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 6.25rem;
    background-color: $PURPLE;
    padding: $PS $PL;
    border-radius: .875rem;
    z-index: $POPUP;
    animation: a 2500ms ease-in-out;

    @media only screen and (max-width: $md){
        left: 0;
        right: 0;
        background-color: $PRIMARY;
        color: $SECONDARY;
        transform: translate(0, -50%);
        margin-inline: $MS;

        h5{
            font-weight: 400;
        }
    }
}

@keyframes a {
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}