.actionBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $PM;

    @media only screen and (max-width: $md){
        padding: $PS;
        
        .actionBtns{
            padding-bottom: 0;
        }
    }

    .mobileInfo{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
        &Title, &Subtitle, &ListLength{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        &Subtitle, &ListLength{
            font-size: .825rem;
            color: rgba($WHITE, .7);
        }
    }

    &__play{
        width: 3.5rem;
        height: 3.5rem;
    }
}