.cardListLayout{

    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__list{
        //height: 100%;
        padding: $PS 0;
    }
}