.cardListLayout{

    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            @media only screen and (max-width: $md){
                display: none;
            }

            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__list{
        //height: 100%;
        padding: $PS 0;
    }
}