.customInputLabel{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input{
    background-color: rgba($WHITE, .13);
    padding: 0 $PS;
    height: 2.5rem;
    border-radius: .25rem;
    color: $WHITE;
    font-size: 1rem;
    border: 1px solid transparent;

    &:focus{
        background-color: rgba($WHITE, .1);
        border-color: rgba($WHITE, .13);
    }
}

.inputError{
    border-bottom-color: red !important;
}

.errorText{
    color: red;
}

.submittingBtn{
    opacity: .5;
    cursor: not-allowed;
}