.customInputLabel{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.inputError{
    border-bottom-color: red !important;
}
.errorText{
    color: red;
}

.submittingBtn{
    opacity: .5;
}