.rc-slider{
    &-track{
        background-color: $WHITE;
    }
    
    &-rail{
        background-color: rgba($WHITE, .4);
    }
    
    &-handle{
        cursor: default;
        opacity: 0;
    }

    &-handle-dragging{
        opacity: 1;
        &:focus{
            cursor: default;
        }

    }
    
    &:hover .rc-slider-handle{
        opacity: 1;
    }
}

