.dropdownMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $GRAY;
    border-radius: .5rem;
    min-width: 12.25rem;
    padding: .250rem;

    ul{
        li{
            &:hover{
                border-radius: .250rem;
                background-color: rgba($WHITE, .1);
            }
        }
    }

    a, button{
        padding: $PS;
        display: block;
    }
    
    button{
        width: 100%;
        display: flex;
    }
}