.emptyPlaylist{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.25rem;
    
    p{
        font-weight: bold;
    }

    &-btn{
        background-color: $WHITE;
        color: $BLACK;
        font-weight: 600;
        padding: $PS $PM;
        border-radius: 1.5rem;
        font-size: 1rem;

        &:hover{
            transform: scale(1.09);
        }
    }
}