.emptyField{
    display: flex;
    flex-direction: column;
    gap: .875rem;
    align-items: center;
    justify-content: center;
    height: 100%;

    &Btn{
        background-color: $WHITE;
        color: $BLACK;
        font-weight: 600;
        padding: $PS $PM;
        border-radius: 1.5rem;
        font-size: 1rem;

        &:hover{
            transform: scale(1.09);
        }
    }
}