.favoriteBtn{
    color: $WHITE;
    
    .liked{
        opacity: 1;
        color: $GREEN;
    }
    
    &:active{
        animation: like .3s ease-in-out;
    }
    
}

.liked{
    opacity: 1 !important;
}

@keyframes like {
    0%{
        transform: translateX(5px);
    }
    80%{
        transform: translateX(-5px);
    }

}
