.favoritePopup{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 6.25rem;
    background-color: rgba($purple, .8);
    padding: $PS $PL;
    border-radius: .875rem;
}