.lightBtn{
    background-color: $WHITE;
    color: rgba($BLACK, .9);
    font-weight: 700;
    padding: $PS $PM;
    border-radius: 1.5rem;
    font-size: 1rem;

    
    &:hover{
        transform: scale(1.09);
    }
    
    @media only screen and (max-width: $md){
        padding: $PXS $PS;
        font-size: .825rem;

        &:hover{
            transform: scale(.97);
        }
    }
}

.isSubmitting{
    opacity: .5;
}