.lightBtn{
    background-color: $WHITE;
    color: rgba($BLACK, .9);
    font-weight: 700;
    padding: $PS $PM;
    border-radius: 1.5rem;
    font-size: 1rem;

    &:hover{
        transform: scale(1.09);
    }
}

.isSubmitting{
    opacity: .5;
}