.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($BLACK, .6);
    color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
        padding: $PM;
        background-color: $GRAY;
        border-radius: .5rem;
    }

    
    input{
        background-color: rgba($WHITE, .13);
        padding: 0 $PS;
        height: 2.5rem;
        border-radius: .25rem;
        color: $WHITE;
        font-weight: bold;
        font-size: 1rem;
        border: 1px solid transparent;

        &:focus{
            background-color: rgba($WHITE, .1);
            border-color: rgba($WHITE, .13);
        }
    }
}