.passwordInput__label{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    input{
        padding-right: $PXL;
    }

    .eyeBtn{
        color: $GRAY;
        position: absolute;
        top: 2.625rem;
        right: 1rem;
    }
}