.playlistHeader{
        //height: 30vh;
        min-height: 21.25rem;
        padding: 0 $PL $PM $PL;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        margin-top: -$MXXL;
        background: $playlistMainColor;
        background-image: $grayLinear;
        
        &__cover{
            position: relative;
            box-shadow: $cover;
            width: 14.5rem;
            height: 14.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;

            img{
                width: 100%;
                height: 100%;
            }

            span{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba($BLACK, .5);
                opacity: 0;

                .pencil{
                    position: absolute;
                    top: 50%; 
                    right: 50%;
                    transform: translate(50%,-50%);
                }
            }

            &:hover{
                span{
                    opacity: 1;
                }
            }
        }

        .info{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            overflow: hidden;

            &__header{
                padding-bottom: $PS;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

}