.playlistHeader{
        height: 30vh;
        min-height: 21.25rem;
        padding: 0 $PL $PM $PL;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        gap: 1.5rem;
        margin-top: -$MXXL;
        align-items: flex-end;
        

        .cover{
            box-shadow: $cover;
            width: 14.5rem;
            height: 14.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h1{
                padding-bottom: $PS;
            }
        }

}