.songsTableListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $PXS $PM;
    cursor: default;
    gap: 1.5rem;
    border-radius: .250rem;

    &:hover{
        background-color: rgba($WHITE, .1);
    }

    &__music{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__indexPlay{
        min-width: 1.188rem;
        width: 1.188rem;
        height: 1.188rem;

        &__index{
            font-size: 1.25rem;  
        }

        &__playBtn{
            display: none;
            color: $WHITE;
            cursor: default;
        }
        
    }

    &:hover &__indexPlay{
        &__index{
            display: none;
        }

        &__playBtn{
            display: block;
        }
    }
    
    &__img{
        width: 2.5rem;
        height: 2.5rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: .25rem;

        span{
            color: rgba($WHITE, .7);
            text-transform: uppercase;
            font-size: .875rem;
        }
    }

    &__favBtn{
        opacity: 0;
    }

    &:hover &__favBtn, .liked{
        opacity: 1;
    }
}

.playingListItem{
    background-color: rgba($WHITE, .1);

    .songsTableListItem__indexPlay{
        &__index{
            display: none;
        }
    }

    .songsTableListItem__indexPlay__playBtn{
        display: block;
    }

    button{
        opacity: 1 !important;
    }
}