.songsTableTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    color: rgba($WHITE, .7);
    padding: $PS $PM;
    border-bottom: 1px solid rgba($WHITE, .1);
    
    h5{
        font-weight: 400;
    }

    &__head{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}