.wideMusicPlayer{
    position: fixed;
    display: flex;
    flex-direction: column;
    inset: 0;
    padding: $PS;
    background-color: $GRAY;
    background-image: $grayLinear;
    z-index: 2;
    transform: translateY(0);

    &CloseBtn{
        margin-bottom: $PM;
    }

    &Info{
        display: flex;
        align-items: center;
        padding: $PM $PS;
    }
}

.expandPlayer{
    animation: showAnimation 600ms ease-in-out;
    transform: translateY(0)
}

.shrinkPlayer{
    animation: showAnimation reverse 600ms ease-in-out;
    transform: translateY(80%)
}

.cover{
    display: flex;
    flex: 1;

    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

}

@keyframes showAnimation {
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}
