.dropdownMenuContainer{
    z-index: 2;

    .dropdownMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $GRAY;
        border-radius: .5rem;
        padding: .250rem;

        ul{
            li{
                color: $WHITE;
                padding: $PS;
                cursor: default;
                text-align: start;

                @media only screen and (min-width: $md){
                    min-width: 12rem;
                }

                &:hover{
                    border-radius: .250rem;
                    background-color: rgba($WHITE, .1);
                }
            }
        }
    }
}