.dropdownMenuContainer{
    z-index: 2;

    .dropdownMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $GRAY;
        border-radius: .5rem;
        padding: .250rem;
    }
}