.followersModal{
    
    &__list{
        height: 30vh;
        min-width: 16.5rem;
        padding: $PXS;
        border-radius: .5rem;
        background-color: $darkGray;
        overflow: overlay;

        &::-webkit-scrollbar{
            width: .25rem;
            
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
            
        &::-webkit-scrollbar-thumb {
            background-color: rgba($WHITE, .3);
    
            &:hover{
                background-color: rgba($WHITE, .5);
            }
        }

        &__item{
            display: flex;
            align-items: center;
            padding: $PXS $PS;
            border-radius: .5rem;
            border-bottom: 1px solid rgba($WHITE, .1);
            gap: 2.5rem;
            margin-bottom: $PXS;
            
            &:hover{
                background-color: rgba($WHITE, .1);
            }

            a{
                font-weight: bold;
                flex: 1;

                &:hover{
                    color: $GREEN;
                }
            }
        }
    }
}