.passwordChangeModal{
    background-color: $GRAY;
    padding: $PM $PL;
    border-radius: .5rem;
    
    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .submitBtn{
            align-self: center;
        }

        &__password{

            &__form{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                input{
                    padding-right: $PS;
                }
            }

            .eyeBtn{
                color: rgba($WHITE, .5);
                top: 3rem;
            }
        }

        &__email{

            &__form{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }
        }
    }
}