.playlistInfoModal{

    &__form{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1.5rem;

        &__img{
            width: 11.25rem;
            height: 11.25rem;
            background-color: $earlGray;
            box-shadow: $cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img{
                width: 100%;
                height: 100%;
            }
            
            &__changeBtn{
                padding: $PXS;
                background-color: rgba($WHITE, .1);
                border-radius: 50%;
                opacity: 0;
                position: absolute;
                top: .5rem;
                right: .5rem;
            }

            &:hover &__changeBtn{
                opacity: 1;
                background-color: $BLACK
            }
        }

        &__input{
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;

            &__item{
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &__name{
                    font-weight: bold;
                    font-size: .875rem;
                }
            }
            
            &__submit{
                background-color: $WHITE;
                color: $BLACK;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 1.5rem;
                padding: $PS $PL;
                margin-left: auto;
                width: max-content;
                
                &:active{
                    transform: translateY(1px);
                }
            }

            .isSubmitting{
                opacity: .5;
            }
        }
    }
}