.playlistDeleteModal{
    background-color: $WHITE;
    color: $BLACK;
    padding: $PM $PXL;
    border-radius: .5rem;

    &__actionBtns{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: $PM;
        
        .cancel{
            background-color: $WHITE;
        }

        .delete{
            background-color: $GREEN;
        }
    }
}