.playlistInfoModal{
    background-color: $GRAY;
    padding: $PM $PL;
    border-radius: .5rem;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $PM;
    }

    &__form{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1.5rem;

        &__img{
            width: 180px;
            height: 180px;
            background-color: $earlGray;
            box-shadow: $cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            
            &__changeBtn{
                padding: $PXS;
                background-color: rgba($WHITE, .1);
                border-radius: 50%;
                opacity: 0;
                position: absolute;
                top: .5rem;
                right: .5rem;
            }

            &:hover &__changeBtn{
                opacity: 1;
            }
        }

        &__input{
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;

            &__item{
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &__name{
                    font-weight: bold;
                    font-size: .875rem;
                }

                input{
                    background-color: rgba($WHITE, .13);
                    padding: 0 $PS;
                    height: 2.5rem;
                    border-radius: .25rem;
                    color: $WHITE;
                    font-weight: bold;
                    font-size: 1rem;
                    border: 1px solid transparent;

                    &:focus{
                        background-color: rgba($WHITE, .1);
                        border-color: rgba($WHITE, .13);
                    }
                }
            }
            &__submit{
                background-color: $WHITE;
                color: $BLACK;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 1.5rem;
                padding: $PS $PL;
                margin-left: auto;
                width: max-content;
                
                &:active{
                    transform: translateY(1px);
                }
            }

            .isSubmitting{
                opacity: .5;
            }
        }
    }
}