.playlistDeleteModal{
    color: $BLACK;
    background-color: $WHITE !important;

    &__actionBtns{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: $PM;
        
        .cancel{
            background-color: $WHITE;
        }

        .delete{
            background-color: $GREEN;
        }
    }
}