.unauthSongModal{
    padding: $PXXL;
    display: flex;
    gap: 3rem;
    background-image: $unAuthSongModal;
    background-color: $GRAY;
    animation: modalAnimation 500ms ease-in-out;

    @media only screen and (max-width: $md){
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        inset: 0;
        border-radius: 0;

        .unauthSongModal__closeBtn{
            display: flex;
        }
    }

    img{
        width: 18.75rem;
        height: 18.75rem;
        border-radius: .5rem;

        @media only screen and (max-width: $md){
            width: 10.5rem;
            height: 10.5rem;
        }
    }

    &__info{
        max-width: 18.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.25rem;

        @media only screen and (max-width: $md){
            max-width: 14rem;
        }

        h3{
            text-align: center;
        }

        &__signBtn{
            background-color: transparent;
            color: $WHITE;
            border: 1px solid rgba($WHITE, .4);

            &:hover{
                border-color: $WHITE;
            }
        }

        &__logBtn{
            background-color: $GREEN;
        }
    }

    &__closeBtn{
        display: none;
    }
}

@keyframes modalAnimation {
    0%{
        translate: 0 30px;
    }
    100%{
        translate: 0;
    }
}