.userInfoModal{

    &__header{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__form{
        padding-top: $PM;
        display: grid;
        grid-template-columns: 11.5rem 17.5rem;
        gap: 2rem;

        &__img{
            width: 100%;
            height: 100%;
            max-height: 11.5rem;
            border-radius: 50%;
            box-shadow: $cover;
        }

        &__inputs{
            display: flex;
            flex-direction: column;
            gap: .875rem;
        
            &__input{
                display: flex;
                flex-direction: column;
                gap: .25rem;

                &__span{
                    font-weight: bold;
                    color: rgba($WHITE, .8);
                }
                
            }

            &__submit{
                padding: $PXS $PM;
                align-self: flex-end;
                background-color: $WHITE;
                text-align: center;
                color: $BLACK;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 1.5rem;
                
                &:active{
                    transform: translateY(.5px);
                }
            }
        }
    }
}