.favTracks{
    display: flex;
    flex-direction: column;
    // for empty field
    
    .header{
        background-color: $PURPLE;
        background-image: $GRAY-GRADIENT;
    }

    .navBtn{
        display: flex;
        align-items: center;
        gap: .5rem;

        .avatar{
            margin-right: $PXS;
        }
    }

    .favBg{
        background-color: $PURPLE;
    }
}