.playlistDeleteModal{
    color: $BLACK;
    background-color: $WHITE !important;

    .actionBtns{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: $PM;

        .delete{
            background-color: $GREEN;
        }
    }
}