//COLOR
$WHITE: #fff;

$GRAY: #181818;
$earlGray: #3333;
$secondaryColor: #121212; 
$playlistMainColor: #838383;
$brokeWhite: #eee;
$brokeGray: #b3b3b3;
$darkGray: #282828;

$NEUTRAL-50:  #f9f9f9;
$NEUTRAL-100: #f3f3f3;
$NEUTRAL-200: #ebebeb;
$NEUTRAL-300: #dbdbdb;
$NEUTRAL-400: #b8b8b8;
$NEUTRAL-500: #989898;
$NEUTRAL-600: #707070;
$NEUTRAL-700: #5c5c5c;
$NEUTRAL-800: #3d3d3d;
$NEUTRAL-900: #1d1d1d;

$purple: rgb(119, 46, 230);

$PRIMARY: #ffffff;
$PRIMARY-100: #fafafa;
$PRIMARY-200: #f5f5f5;
$PRIMARY-300: #f0f0f0;
$PRIMARY-400: #dedede;
$PRIMARY-500: #c2c2c2;
$PRIMARY-600: #979797;
$PRIMARY-700: #818181;
$PRIMARY-800: #606060;
$PRIMARY-900: #3c3c3c;
$BLACK: #000;

$SECONDARY: #000000;
$SECONDARY-100: #f5f5f5;
$SECONDARY-200: #e9e9e9;
$SECONDARY-300: #d9d9d9;
$SECONDARY-400: #c4c4c4;
$SECONDARY-500: #9d9d9d;
$SECONDARY-600: #7b7b7b;
$SECONDARY-700: #555555;
$SECONDARY-800: #434343;
$SECONDARY-900: #282828;

$PURPLE-50:  #f0e7fc;
$PURPLE-100: #d8c5f7;
$PURPLE-200: #bf9ef3;
$PURPLE-300: #a474ef;
$PURPLE-400: #8e52eb;
$PURPLE-500: #782ee6; /**/
$PURPLE-600: #6c29df;
$PURPLE-700: #5c1fd7;
$PURPLE-800: #4c17d1;
$PURPLE-900: #2c00c8;
$GREEN: #1DE760;

$BRAND-50:  #e6fcea;
$BRAND-100: #c4f7cb;
$BRAND-200: #9af2a8;
$BRAND-300: #64ee81;
$GREEN: #1de760;    /**/
$BRAND-500: #00e03b; 
$BRAND-600: #00cf30;
$BRAND-700: #00bb20;
$BRAND-800: #00aa09;
$BRAND-900: #008800;

//TEXT COLOR
$textGray: #a7a7a7;
$favoritesGradient: linear-gradient( 83.2deg,  rgba(150,93,233,.7) 10.8%, rgba(99,88,238,.5) 94.3% );


//LINEAR GRADIENT
$darkLinear: linear-gradient(rgba(0,0,0,.6) 0,rgba(18,18,18,1) 100%);
$grayLinear: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
$unauthBar: linear-gradient(90deg,#af2896,#509bf5);
$mobileNavbar: linear-gradient(transparent,rgba(0,0,0,.6),rgba(0,0,0,.7),rgba(0,0,0,.8),rgba(0,0,0,.8),rgba(0,0,0,.9),rgba(0,0,0,.9),rgba(0,0,0,.9),#000,#000);
$unAuthSongModal: linear-gradient(-180deg,rgba(0,0,0,.4),#282828);

//PADDING
$PXS: .5rem;
$PS: 1rem;
$PM: 1.5rem;
$PL: 2.25rem;
$PXL: 3rem;
$PXXL: 3.5rem;
$mobilePB: 9rem;
$lyricP: 8rem 10rem;

//MARGIN
$MXS: .5rem;
$MS: 1rem;
$MM: 1.5rem;
$ML: 2.25rem;
$MXXL: 4rem;

//MEDIA BREAKPOINTS
$sm: 640px;
$md: 1024px;
$xl: 1280px;
$xxl: 1536px;

//BOX SHADOW
$cover: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$textShadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;