.musicTool{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    grid-area: tool;

    .lyricsBtn{
        width: 1.875rem;
        height: 1.875rem;

        &:hover{
            color: $WHITE;
        }
    }

    .active{
        color: $GREEN;

        &:hover{
            color: $GREEN;
        }
    }
}