.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $PM;

    .closeBtn{
        padding: $PXS;
        border-radius: 50%;

        &:hover{
            background-color: rgba($WHITE, .1);
        }
    
        &:active{
            background-color: rgba($WHITE, .07);
        }
}
}