.googleBtn{
    color: $GRAY;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-color: $NEUTRAL-300;

    .text{
        font-weight: 400;
    }

    &:active{
        transform: translateY(.5px);
    }
}